RewriteEngine on  //on为打开,off为关闭
RewriteRule ^register$ register.php
RewriteRule ^login$ login.php
RewriteRule ^loginout$ loginout.php
RewriteRule ^apply_store$ apply_store.php
RewriteRule ^create_product$ create_product.php
RewriteRule ^deleteCatesgorys(.+)$ deleteCatesgorys.php?catesgory_id=$1
RewriteRule ^edit_category/(.+)$ edit_category.php?catesgory_id=$1 [QSA,PT,L]
RewriteRule ^(.+)/create_catesgorys/$ create_catesgorys.php?store_id=$1 [QSA,PT,L]
RewriteRule ^editProductDetail$ editProductDetail.php
RewriteRule ^(.+)/getProductcategory$ getProductcategory.php?store_id=$1
RewriteRule ^getProductDetail/(.+)$ getProductDetail.php?product_id=$1
RewriteRule ^(.+)/getProductList$ getproductList.php?store_id=$1
RewriteRule ^getStoreList$ getStoreList.php
RewriteRule ^getStoreTradings$ getStoreTradings.php
RewriteRule ^getUserLocaltion$ getUserLocaltion.php
RewriteRule ^getuserStore$ getuserStore.php
RewriteRule ^getuserStore$ getuserStore.php
RewriteRule ^getUserStoreInfo$ getUserStoreInfo.php
RewriteRule ^getUserStoreTradingsCategory$ getUserStoreTradingsCategory.php
RewriteRule ^store_setting$ store_setting.php
RewriteRule ^switchUserStore$ switchUserStore.php
RewriteRule ^updateProduct$ updateProduct.php
RewriteRule ^upLoad$ upLoad.php
RewriteRule ^wxLogin$ wxLogin.php
ErrorDocument 404 /404.txt
